/* body {
  margin: 0;
  padding: 0;
} */

/* .ql-toolbar:first-child {
  display: none !important;
} */
.ql-container {
  border: none !important;
  font-family: "Open Sans";
  font-size: 16px;
}

.ql-toolbar {
  font-family: "Open Sans" !important;
  border: none !important;
  padding-bottom: 1em !important;
  border-bottom: 0.15em solid #eeeeee !important;
}

.quill-toolbar > button:hover {
  color: red;
}
